program Project1;

{$APPTYPE CONSOLE}

uses
  SysUtils;

{ TODO -oUser -cConsole Main : Insert code here }
    var s:string[40];
    i,i_slov,kA:integer;
begin
writeln('Vvedite predlogenie:');readln(s);
i:=1;i_slov:=0;
writeln;
repeat
kA:=0;
//write(s[1]);
if s[i]<>' ' then i:=i-1;
      repeat
          inc(i);
          if (s[i]='a')or (s[i]='A') then begin ka:=ka+1; end;
      until (s[i]=' ') or (i=length(s)) or (s[i]='.')  ;
      while (s[i]=' ') do inc(i);
inc(i_slov);
if kA>1 then write('nomer slova s maximum bukv "A","a":  ',i_slov,', v kotorom ',kA,' bukv');
//inc(i);
until (s[i]='.') or (i>=length(s));

Readln;
end.
